*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(171,146,191);
    background: linear-gradient(0deg, rgba(171,146,191,1) 0%, rgba(101,101,231,1) 100%);
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    width: 100%;
}
#quadro{
    padding: 3%;
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-areas:
    '. . title'
    '. . asks'
    '. . asks'
    ;
    border-radius: 20px;
    background-image: url("images/bg-pattern-desktop.svg"),url("images/illustration-woman-online-desktop.svg");
    background-position: -1090% 75% , -20% 30%;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}

#dado{
    grid-area: dado;
    position: absolute;
    top: 43%;
    left: 78px;
}
#title{
    grid-area: title;
    right: 41%;
    color:hsl(237, 12%, 33%);
}
.titulo{
    color:hsl(237, 12%, 33%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    transition: ease-in 200ms;
    font-size: 1em;
}

#asks{
    grid-area: asks;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.seta{
    width: 1vw;
    height: 1.5vh;
}

.duvida{
    width: 30vw;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    box-sizing: border-box;
    float: left;
    height: 60px;
    position: relative;
    padding-top: 20px;
    cursor: pointer;
    
}

.replies{
    display: none;
    color: hsl(240, 6%, 50%);
    font-size: 12px;
}

.titulo:hover{
    color: hsl(14, 88%, 65%);
    transition: ease-out 200ms;
}
